<div class='container'>
  <div class='row'>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'https://lh3.googleusercontent.com/wLRDJmsmkLWKAGQk9_3XjVA9xpkPmi47aTrXfCSMQtwYsdJeiN19m-iswR6rdXIR3tBlMVz1u-kNsU6QIhOzjqkqJDQ4M-TYjhmIdCp32DiXI4sydraoYjInmA-YnM7ScluRW98TM3UFQfy5wIe0NL1J3gOgaRZkhaRCcbEV1KuUPMCRoF-12nHmbUb6f-cob4COLSesTiPszoPXTzEHby1PzzQS1JK4nNpJ4QEpkjf0qQZWkZzjSySJihhtsIkS-J6ObNkR_GSHk3I6vY7491ta4A9DGH8Got2DLMsiuQRslyqWB0uwOUtRN04RI4OM5SpLCykW4hMSqiToYZeKWMf0DH4EV0-e1b1UeI-rKUy0GgwAYzEO7uF2AgnBqkGid4nzIHd8FeVLlxzumH9grnx_IGRl9njJfK-cW8EzmjnwiofmZh0yWXzkcZWHreMwIVc9MqeB6Oxy6uJfBFgeSxBWxONcUdDiinCt9nQv3jNmVgSFgj5jibEh2ZGG1JxhItasjLvomAZyDj_FaM_u1NWSRdI6g0w-nqZTo5K9hQE=w800-h600-no', class: 'center-block'  %>
        </div>

        <div class="item">
          <%= image_tag 'https://lh3.googleusercontent.com/cZrEFIVsOwy46ssafQOtmvqrYuIcg3jTJsByNdYg4gfSBBWCNQ4EbeIikzxFFuCrdLJB5Bmvyz2cfDnJakwOiI9iCSFp7NZOEXEVLsw8f7zHQ74X5iqtKYx_tiETCV57OgxG2X5pOPsErifWC-WcmmJ2l1p9orAMJrgisQn6zr4SnzQI2LWypDJCYwtjgHdszv2UfzMGvjx-2iR3G24i34cXZ73mAqKcycKjMt24PHjTaACexFzJTBmb0ZFhvOFN6eq90QFTdSrXAToGvTKWqVP1IhBJJ9ZXZifwLoPUb52-MyPgbYzf2di_yVg7Am0E4wAhToE_87Itv7PI8QU7hcR-GvoQnO4jX0-z6tFs4RShyQs2F1CHzPlMZD_VraZ7C8kyadhXJigExUpVIh-yQN8kJgXkPyytleNxgedoFdfJOVNxC2LxN71bUcmzskbid25HLH67SnIQvTKKq57xg99jS6A2ssg01UjxTm9NYAVa_hsgD6b_-vyaw3qnC1EbxyFY1nZQasXMkLOurZGLXKFYfzToLQyy0SiDzfQyF6g=w800-h600-no', class: 'center-block' %>
        </div>

        <div class="item">
          <%= image_tag 'https://lh3.googleusercontent.com/T93xBE3eo1NoXxiehPzFSXVONM6siu-UKKZPchH5PWnIKE4x4C19ct1MzZmvvZ80aiwrlilYIHSz9OXLlDzn3WvS6MTDAX3YcO21Vrm1rKvh287JJesmiZ2ZM_OzDPc6NSAfDvaKjSvoMB8JH8ISx1wa2IWkjgE9_llgFpA7cnImVnkLdp4_uS7IYhrGraFEptO3PNnEYLpTwBnyu-IjvKR3hDcOqkCOeB5glSHVnYSkiwCajsXtv_3Y1AJhBZjNhP0j9fMS4m25qR-S-X9UmONjEbYD95UEe6TNRisKvoJMw4-dBFBgXbyXOVP_PYYC7g3q73UNAnJBiGhOC2HgcSkzyn1kFzTgywVt4jS3G8TTnpsuvHJvUrKvgotcmzZXSBKbMUpqFaWJc_q-BrIM7Lk4kNqeYIAvgGF-PTT67HFeR5JCfgV13s8qIrGMlcl2gS8-N046r8BI8rJVoXCutEJ5G4BlpB_NldYQp3pkzr7PpPZP2kbWXOAVozGFYbOXyHPU-jGjmH1JE6bl2r8k9rEGr1NmULcFLATpF57KNvY=w800-h600-no', class: 'center-block'  %>
        </div>

        <div class="item">
          <%= image_tag 'https://lh3.googleusercontent.com/ooh-KvMFtfQdiA4mzEPpg6tx2rihVADn8DvBt8_ngwH6qlozfEK_74tP_Z-jvDRvT54I00F2r4Jar9cfo50PJCKpK2yAiD7jvRscJAlhAID_6ibIoxQ8p63n1E1XyI-FwNS3xLJQ5R4uQZ5A023U236RIP9yByT94jX5zsRV7LfyG2BJ6gB4TguTrIRH95EI_dI2vZJb6sfMowqN7DNSzrk-ZtJKnlmJLtj46vjZkijQVVv2CoUNEv6wtNAW4mluYZlYT5uJdUT7znIyTicI-seJFh9yTOb_sm19ByiptR3O-Y1jvXQIxzYF7m32kHhotr6ss2iIA0nc-ki3w08V7KgSXmI9iISn5JCjzmmT2LH_yEChVRYcTCTa5q5v7QS0bGGjKL9Pp3SVw7O1yxOZZjCD5l1feH5aXiL9o7nGJw48YH9tImCndwcPtT0CRDpKirR636xvaQ8n9Jb-1EcSWYKhUD-k-4K0JnQZrmiGbvc11R4HUTGNK_ZpeERS0cHRi0Th0NVcDshRpFt808MB6iltSzd2aOiC8WsdmADwAX4=w800-h600-no', class: 'center-block'  %>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
