<div class='container'>
  <hr class='light-hr'>
  <div class='row'>
    <div class="col-md-4">
      <div class='col-md-6'>
        <%= image_tag 'https://lh3.googleusercontent.com/zkmYOnfjj3uwa2lHulnk9-XXe9hgVqUFy6zZx2yhlnXhCJlO9tuPAl1zYxGqFzHoDnqz89ISKE7JQQI6mh7yg5eWIb6P84OyMnYP_D0HdI9wurhHnT5QccczPztcnRq0DLomAuZcGtJDN9VjKZJ9TWD4c_jCWLOzh78lbDyvXiIKn_65W06DXByZVwMQxC0zP3zRfNBMOo9U3VV1D47E713FlIE8gJ_qjhQoxc2ke1ZZ7mrdDUPGz7rQ8LLnkI4NoBHcH3_0thBweISWZBjn1u0ELSrXAWnrO4TLljjqnM6b5TYAJCcjefUM1i5UZFFbttwYmJaNYhdbARP2_OMdVa015ZMRoYV7LOR82B_L6cMmH8f7njglkyRmcxowZ05jvYh68PVwnUGsMcRdtorx9LVRL5ZC8AfsIHgOmt41kAbaKtfX9KnKkBNw4SkNydj00AYeYCeG-mkTmwx0uExfzUZVuSjnWbPnxMFofZsRnG00YSpmi6TxPQjXArB-cWShOdyD9QtB670QodL9PXMayOMAmvyEt3MheU6y2SLSP9Q=w200-h140-no', class: "img-responsive" %>
      </div>
      <div class='col-md-6'>
        <%= image_tag 'https://lh3.googleusercontent.com/121iUllyIDDommru1Y-wa7Z3LD2Vnb01g8psdPQjHz3rh5x9Bn_UBPbS0b9ibc-jCwuRDM6xGrCgIww6gpdI4umyjkkz2vS91j4PObu2H7sL0lZ48OxsJkFXFSi8fVrtREG3KuU5OszeWk9izkKi4SDuoHPxj-5qV76p-KYIRit0xATkcRzAlNni6XpubW-ZIVp4YnoZeYCbteyUHqiOeK3MasPNsIzwmGz9_1rJcMEsg9G8RSCedrrt9xk8bh59Rkp-VIT6V3HkDZdfKRZFNo4ZqDi3GFUtqylWX4gmgLp5530iV_T8pnv7d_VH04E-74TaMlvNdZxyFIN3OZjwj_9hdJXxNd3IroA3tJMHpExly-roVT1_hoCFc9o5Q3Ojtp_nGxYCSIWN8PDe7MCSFUItgI2tMQKitfe8fUTY0VbTUOyDi1TityhK2q6HwGdhf1RAOvtzlZZ27bk3IRM6eCtfjL1JGh5yBAf_TXDjF8LSTayxQHxz-Gggdygws92Pbw3UlUxg1eoQnKgbtTDv9oeY9Zb-Q31OG9sMbcppQQI=w200-h140-no', class: "img-responsive" %>
      </div>
    </div>
    <div class="col-md-4">
      <p>
        15811 Ambaum Blvd SW #120 Burien, WA 98166 <br>
        (206) 466-2627 <br>
        Instructor: Grandmaster Kim
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <span class='aligned-days'>M-W-F</span>| Adults -> 9am, 5pm, 6pm, 7pm<br>
        <span class='aligned-days'>T-Th</span>| Kids -> 5pm<br>
        <span class='aligned-days'>Sat</span>| Open Dojo -> 10am - 11:30am
      </p>
    </div>
  </div>
</div>
