<div class='container'>
  <hr class='light-hr'>
  <div class='row'>
    <div class="col-md-4">
      <div class='col-md-6'>
        <%= image_tag 'http://placekitten.com.s3.amazonaws.com/homepage-samples/200/139.jpg', class: "img-responsive" %>
      </div>
      <div class='col-md-6'>
        <%= image_tag 'http://placekitten.com.s3.amazonaws.com/homepage-samples/200/140.jpg', class: "img-responsive" %>
      </div>
    </div>
    <div class="col-md-4">
      <p>
        15811 Ambaum Blvd SW #120 Burien, WA 98166 <br>
        (206) 466-2627 <br>
        Instructor: Grandmaster Kim
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <span class='aligned-days'>M-W-F</span>| 9:00 – 10:00am, 5:00 – 8:00pm <br>
        <span class='aligned-days'>T-Th</span>| 5:00 – 6:00pm <br>
        <span class='aligned-days'>Sat</span>| 10:00 - 11:30am
      </p>
    </div>
  </div>
</div>
