<h1 class="text-center">More Power!</h1>

<%= render 'slideshow' %>

<h2 class="text-center">100% Hapkido - Not a sport or a mixed martial art</h2>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/Qgw_Dfqa2x5znUaIDOzQusqDUMSAVdVJie36EYGeSkXB4JUSys6FghmM82dPSCDyCYD9P6K0ClH63YfyLxJvYTAqGR_2kPCCshy_E6Kn5WbG5HazfAoRCSb2X4tBMCWqTJblmxu5C9XFpWZL2ZewWk68O5yNVFPvG4Vf9yoreiIuHas3Q3Pzv2yg0E_xp5RK_LT3p7l0v2QtxN654vqzfKjWAgGI8BivTdOCAOfnJMUElw0ZLVfEzueSi90Wvu50D1iJcHtVsfZYxNzteyI7AIpaj0nSLrb6MqLBYyM9jdBvmAWIznW5-ESGwZzmIxbXl1HHSRqwf8eEFMH8W7nYqzX48CVBKCGPGZL-8urImKQr5vry97W_5zGp-1MARCp_B9ONhBmg1V12-FQJjuMeKA2g91gf4kOXGS7lkHVmp3e0Fj125K7sWNpb4WEVW-ldkvYzhgSSPf8BsnsUUFmy8SWKJEvbcWUYBhF0ptV5pKMkrFaRWDvhVu7UoEwfZdQLWIFHcGBcxT-7ioKrG4AohYO03twzDr85tIWlF8BZqqs=w671-h455-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Hapkido is not nice, It is not a sport, or a tournament based martial art that is based on a point system to declare a winner or loser, it is a practical and effective form of self defense. Hapkido attempts to be a complete fighting style, rather than a specialized art form and can be learned by both men and women of all ages.
        <br><br>
        Kwon Moo Hapkido developed by Grand Master Chae Un Kim that has dedicated over 50 years of experience to Martial arts. Over his lifetime he has pressed himself in the refinement and development of the most effective and simple techniques to end a fight from within Hapkido. Which gave birth to his Kwon Moo stile of Hapkido that has truly developed a signature technique of full body power that sets itself apart from even traditional Hapkido.
        <br><br>
        What you will learn from the Kwon Moo Hapkido Federation, is a very solid and effective foundation in any rang of physical conflict you may face. Where most forms of martial arts that promote “Self Defense” only focus on one specific range of fighting such as kicking or punching but the federation realizes that this is not a practical form of self defense. To be a true school of self defense you must be prepared to counter and respond to many ranges of attack you may face in the real world from weapons, kicks, punches, grabs, chokes, throws and even being taken to the ground.
        <br><br>
        Characteristics of Kwon Moo Hapkido that jump out to someone new to the form and predominantly sets itself apart from other well known forms of martial arts. Counter offensive, as in we do not initiate a fight or make first contact, we let our attacker make that mistake and then finish the fight. Other characteristics include: The focus of basic knock out power punches, lead leg kicks, pressure points, Joint locks (joint brakes, A.K.A. “Twisting”) and take downs. Our motto is “ONE MOVE OUT!” as in lights out!
      </p>
    </div>
  </div>
</div>
