// Responsive sizes
$small: 768px;
$large: 1200px;

// Default colors
$kwon-moo-blue: #14194E;
$kwon-moo-silver: #ACABA9;

body{
  background-color: #E2E2E2;
}

#main-content-wrapper{
  margin: 80px 10px;
}

.navbar-brand{
  position: absolute;
  padding: 0px;
  height: 74px;
  border: 1px solid black;
  left: 50px;
}

.navbar-fixed-top{
  height: 50px;
  a:hover{
    text-decoration: none;
  }
  p{
    margin-left: 100px;
  }
  p.navbar-text{
    font-size: 16px;
    color: white;
  }
  background-color: $kwon-moo-blue;
}

.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
  color: $kwon-moo-silver;
  &:hover {
    color: white !important;
  }
  &:visited{
    color: $kwon-moo-silver;
  }
}

// hover state and mouseover focus item etc
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: white;
  color: black;
  &:hover {
    color: black !important;
  }
}

// navbar
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: $kwon-moo-silver;
  &:hover {
    color: white !important;
  }
  &:visited{
    color: $kwon-moo-silver;
  }
}

// mobile navbar
.navbar-default .navbar-collapse {
  @media screen and (max-width: $small) {
    background-color: $kwon-moo-blue;
    width: 50%;
    float: right;
    p {
      margin-left: 0px;
    }
  }
}

// navbar selected
ul.dropdown-menu, .dropdown-menu > li > a{
  background-color: $kwon-moo-blue;
  &:hover{
    background-color: $kwon-moo-blue !important;
  }
}

// footer
footer{
  background-color: $kwon-moo-blue;
  h2{
    color: white;
  }
  .table > tbody > tr > td {
    border-top: 1px solid white;
    color: $kwon-moo-silver;
  }
  .table > thead > tr > th {
    border-bottom: 2px solid white;
    color: $kwon-moo-silver;
  }
}

.padded-children > .col-md-6 > p{
  padding: 20px;
}
