<footer class="footer">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15811 Ambaum Blvd SW #120, Burien, WA 98166</td>
          <td>(206) 466-2627</td>
          <td>info@kwonmoohapkido.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</footer>
