<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= image_tag 'kwon-moo-hapkido-logo-thumbnail.jpg', class: 'navbar-brand' %>
    Kwon Moo Hapkido Federation - 100% Hapkido
  </div>
</nav>
