<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= image_tag 'kwon-moo-hapkido-logo-thumbnail-medium.jpg', class: 'navbar-brand' %>
    <h2 class='title'>Kwon Moo Hapkido Federation - 100% Hapkido!</h2>
  </div>
</nav>
